name: Python Test Workflow

on:
  push:
    paths:
      - 'py/**'
  pull_request:
    paths:
      - 'py/**'
  workflow_dispatch:

jobs:
  test-py:
    name: Test Python Solutions

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install Poetry
      run: pip install poetry

    - name: Install dependencies
      run: cd ./py && poetry install

    - name: Run tests with `pytest`
      run: cd ./py && poetry run pytest -v ./tests/*