name: Rust Test Workflow

on:
  push:
    paths:
      - 'rs/**'
  pull_request:
    paths:
      - 'rs/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Change directory to rs
      run: >
        pwd
        ls -lha
        cd rs

    - name: Run tests
      run: cargo test
