name: Rust Test Workflow

on:
  push:
    paths:
      - 'rs/**'
  pull_request:
    paths:
      - 'rs/**'
  workflow_dispatch:

jobs:
  test-rs:
    name: Test Rust Solutions

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Change directory to rs
      run: cd ./rs

    - name: List contents of the current directory
      run: ls -lha

    - name: Run tests
      run: cargo test
