name: Rust Test Workflow

on:
  push:
    paths:
      - 'rs/**'
  pull_request:
    paths:
      - 'rs/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Print current working directory
      run: pwd
  
    - name: List contents of the current directory
      run: ls -lha
  
    - name: Change directory to rs
      run: cd rs

    - name: Run tests
      run: cargo test
