name: Rust Test Workflow

on:
  push:
    paths:
      - 'rs/**'
  pull_request:
    paths:
      - 'rs/**'
  workflow_dispatch:

jobs:
  test-rs:
    name: Test Rust Solutions

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Run `cargo test`
      run: cd ./rs && cargo test
