name: Rust Test Workflow

on:
  push:
    paths:
      - 'rs/**'
  pull_request:
    paths:
      - 'rs/**'
  workflow_dispatch:

jobs:
  test-rs:
    name: Test Rust Solutions

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Install `cargo-nextest`
      run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      working-directory: ./rs

    - name: Run `cargo test`
      env:
        CARGO_TERM_COLOR: always
      run: cargo nextest run
      working-directory: ./rs
